title #{pageTitle}

meta(charset='utf-8')

if viewPort
	meta(
		name="viewport"
		content="width=device-width"
	)

meta(
	property='og:title'
	content='#{pageTitle}'
)

meta(
	property='og:site_name'
	content='#{site}'
)

meta(
	property='og:description'
	content='#{description}'
)

meta(
	name='description'
	content='#{description}'
)

link(
	rel='icon'
	type='image/png'
	href='#{icoPath}'
)

//- Safari APP

link(
	rel='apple-touch-icon-precomposed'
	href='#{icoPath}'
)

link(
	rel='apple-touch-icon'
	href='#{icoPath}'
)

//- W8

meta(
	name='msapplication-TileColor'
	content='#{icoBackground}'
)

meta(
	name='msapplication-TileImage'
	content='#{icoPath}'
)